@{
	ViewBag.Title = "Contact Us";
	ViewBag.Selected = "Contact";
}

<img class="img-left" src="/img/touch.jpg" width="400" height="266" alt="touch" />
<section>
<h1>@ViewBag.Title</h1>
<p>If you want to talk about how we can solve your needs,
email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#111;&#98;&#114;&#105;&#99;&#104;&#64;&#114;&#105;&#99;&#104;&#97;&#114;&#100;&#115;&#111;&#110;&#97;&#110;&#100;&#115;&#111;&#110;&#115;&#46;&#99;&#111;&#109;">
&#114;&#111;&#098;&#114;&#105;&#099;&#104;&#064;&#114;&#105;&#099;&#104;&#097;&#114;&#100;&#115;&#111;&#110;&#097;&#110;&#100;&#115;&#111;&#110;&#115;&#046;&#099;&#111;&#109;</a> or give us a call at 480.559.9579.</p>
</section>
