@{
	ViewBag.Title = "Corporate Profile";
	ViewBag.Selected = "Profile";
}

<img class="img-left" src="/img/touch.jpg" width="400" height="266" alt="touch" />
<section>
<h2>Corporate Mission</h2>
<p>To provide high-quality, enterprise-grade software and individualized, home town service for small- to medium-sized businesses.</p>

<h1>Corporate Profile</h1>
<p>Robert Richardson, Principal of Richardson and Sons, LLC has provided software 
development expertise for over 15 years. Mr. Richardson has created software 
applications ranging from enterprise-scale applications to mobile systems. 
Mr. Richardson's clients include public utilities, petroleum distributors, and 
data visualization designers. Mr. Richardson has attained the degree of Masters 
of Science in Computer Information Systems (MSCIS), and the degree of Bachelors 
of Fine Arts in Industrial Design (BFA ID), the study of human factors and 
human / technology interaction. Richardson and Sons, LLC was founded for the 
specific purpose of providing custom enterprise software development for small- 
to mid-sized organizations. Several key Richardson assets have Masters 
Degrees and special certifications in software development and technology 
implementation and control. Richardson brings to each client a love of software 
development, a high quality work ethic, and an attitude of excellence in 
results. With this collaboration and enthusiasm, Richardson can bring to its 
Clients highly successful software development projects that are generally 
concluded within timeframe and budget.</p>
</section>
