@{
	ViewBag.Title = "Services";
	ViewBag.Selected = "Services";
}

<img class="img-left" src="/img/touch.jpg" width="400" height="266" alt="touch" />
<section>
<h1>@ViewBag.Title</h1>
<p>We can help you develop:</p>
<ul class="dots">
	<li>Enterprise Applications</li>
	<li>Your business's first website</li>
	<li>E-commerce and order tracking</li>
	<li>Business process automation</li>
	<li>Revitalize and refresh your existing site</li>
	<li>Search Engine Optimization</li>
	<li>Developer training</li>
</ul>
</section>
