@{
	ViewBag.Title = "Sql Script";
	ViewBag.Selected = "Services";
}

<section>
<h1>@ViewBag.Title</h1>
<p>
Sql Script exports Sql Server objects (tables, views, stored procedures, etc) to script files.
The tool can be run as a windows program or from the command line as part of a continuous integration process.
</p>
</section>
